.nav_cus{
    margin-left: 80px;
}


.register-btn {
    color: black;
    border: 1px solid black;
}

.signin-btn {
    background: #003566;
    color: #fff;
    border: 1px solid #003566;

   background-image: url();
}




/* media query */

/* mobile device */


@media only screen and (max-width: 991px) {
    .nav_cus{
        margin-left: 0px;
    }
  }