.banner-Content {
    padding: 189px 50px;
}

.content-banner h1 {
    color: #fff;
    font-size: 55px;
}

.content-banner p {
    color: #FFFFFF;
    font-size: 15px;
    text-align: justify
}


.contact {
    background-color: #fff;
    padding: 40px;
    width: 80%;
    margin: auto;
    margin-top: -123px;
}




.cus-col {
    margin-top: 1px;
    text-align: center;
}

.contact-conatent {
    background-color: #003566;
    width: 70%;
    margin: auto;
    border-radius: 30px;
    padding: 8px;


}

.contact-conatent p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0px;
    text-align: center;
}

.contact-conatent span {
    background-color: #fff;
    color: #003566;
    padding: 5px 30px;
    border-radius: 20px;
    font-weight: 500;

}

.input-field {
    margin: 25px 0px;
    text-align: center;
}

.input-field label {
    color: #003566;
    font-size: 17px;
    font-weight: 600;
    width: 100%;
    text-align: left;
}

.input-field input {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 3px solid #003566;
    margin-right: 12px;
    margin-bottom: 5px;
    width: 100%;
    font-size: 12px;
    padding: 10px 0px;
    color: #9E9E9E;
}


.flight-btn {
    margin-top: -25px;

}

.search-btn{
    text-decoration: none;
    background: #003566;
    color: #fff;
    padding: 13px;
    border-radius: 23px;
    pointer-events: none;
}


.btn-outline-success:disabled {
    color: white;
    background: #003566;
}













/* media query */






@media only screen and (max-width: 520px) {

    .contact-conatent {
        width: 100%;
    }

    .contact-conatent p {
        font-size: 15px;
    }

    .cus-col {
        margin-top: -5px;
    }

    .contact-conatent span {
        padding: 5px 6px;
        font-size: 14px;
    }


    .banner-Content {
        padding: 0px 10px;
    }

    .content-banner h1 {
        font-size: 25px;
        text-align: center;
        padding: 17px 0px;
    }

    .banner-btn {
        text-align: center;
        margin-bottom: 20px;

    }
    
    .signin-btn {
        background: #003566;
        color: #fff;
        border: 1px solid #003566;
        background-image: url();
        font-size: 15px;
    }

    .passenger-input{
        padding: 14px !important;
    }




    .banner-btn {
        width: 100%;
    }

    /* .contact-conatent span {
        background-color: #fff;
        color: #003566;
        padding: 5px 8px;
        border-radius: 20px;
        font-weight: 500;
    } */

    .contact {
        background-color: #fff;
        padding: 20px;
        margin: 40px 0px;
        width: 100%;
    }

    .flight-btn {
        margin-top: -66px;
    }
}




/* tab device media query */


@media only screen and (min-width: 521px) and (max-width: 845px) {
   .banner-Content {
        padding: 30px 25px;
    }
    .content-banner h1 {
        font-size: 30px;
    }
    .contact {
        width: 100%;
        margin-top: 100px;
    }

    .contact-conatent {
        width: 100%;

    }   

     .contact-conatent p {
        font-size: 20px;
    }

    .cus-col {
        margin-top: -1px;
    }

    .contact-conatent span {
        padding: 5px 22px;
        font-size: 20px;
    }

    .passenger-input{
        padding: 14px !important;
    }
}


@media only screen and (min-width: 846px) and (max-width: 1199px) {
    
    .content-banner h1 {
      
        font-size: 40px;
       
    }
    
    
    .contact-conatent {
     
        width: 100%;  
    }

    .passenger-input{
        padding: 14px !important;
    }
}