.carousel-header {
    display: block;
    text-align: center;
    color: #003566;
    font-weight: 600;
    font-size: 17px;
    padding-bottom: 30px;
    font-family: 'Poppins';
}


.slick-slide img {
    display: block;
    border: 0 !important;
}

.slick-prev:before {
    content: '←';
    color: red !important;
}

.slick-next:before {
    content: '→';
    color: red !important;
}

.carousel {
    margin: 150px 0px;
}

.carousel img {
    width: 250px;
    height: 100px !important;
}

.slick-arrow {
    color: red;
}


/* media query fot Carousel */

@media only screen and (max-width: 320px) {
    .carousel img {
        width: 132px;
        height: 70px !important;
    }

    .carousel {
        margin: 100px 0px;
    }
}


@media only screen and (max-width: 375px) {
    .carousel img {
        width: 107px;
        height: 70px !important;
    }
}

@media only screen and (max-width: 425px) {
    .carousel img {
        width: 121px;
        height: 70px !important;
    }
}

@media only screen and (max-width: 768px) {
    .carousel img {
        width: 159px;
        height: 100px !important;
    }
}

@media only screen and (max-width: 1024px) {
    .carousel img {
        width: 175px;
        height: 100px !important;
    }
}