.offer-content p {
    color: #003566;
    font-weight: 700;
    font-size: 15px;
    font-family: 'Poppins';
    font-weight: 500;
}

.offer-content h1 {
    color: #25262A;
    font-weight: 700;
    font-size: 45px;
    font-family: 'Poppins';

}

.offering-content h5 {
    font-size: 24px;
    color: #25262A;
    font-weight: 600;
    font-family: 'Poppins'
}

.offering-content p {
    color: #4C4C50;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins';
}

.internation-content span {
    color: #003566;
    font-size: 15px;
    line-height: 22.5px;
    font-family: 'Poppins';
    font-weight: 500;

}

.internation-content h1 {
    color: #25262A;
    font-size: 45px;
    font-family: 'Poppins';
    font-weight: 500;
    padding: 15px 0px;
}

.fly-h1 {
    font-weight: 700 !important;
}

.internation-content p {
    font-family: 'Poppins';
    color: #4C4C50;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 0px;
    text-align: justify;

}

.ceo_parent {
    padding: 100px 0px;
}

.ceo {
    background-color: #fff;
    padding: 40px 25px;

}




.ceo-content h1 {
    color: #25262A;
    font-size: 34px;
    font-weight: 600;
    font-family: 'Poppins';
}

.ceo-content p {
    color: #4C4C50;
    font-weight: 500;
    font-size: 19px;
    font-family: 'Poppins';
    text-align: justify
}


.card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    padding: 10px;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}


.card-section {
    margin-bottom: 150px;

}

.hr_tag hr {
    width: 35px;
    height: 1px;
    border: 1px solid black !important;
    margin-top: 10px;
    margin-right: 10px;
    opacity: 1;

}


.service-section {
    margin-bottom: 150px !important;
}


.ceo-section {
    /* margin: 140px 0px; */
    padding-top: 120px;
    padding-bottom: 120px;
}


.agent_parent {
    margin-left: 22px;
}


.agent {
    background-color: #BEE2FB;
    border-radius: 30px;
    text-align: center;
    color: #5591BB;
    font-size: 28px;
    font-weight: 700;
    margin: 36px 32px;
    padding: 37px 0px;
}


.agent h3 {
    font-size: 26px;
}

.agent span {
    font-size: 21px;
    font-weight: 400;
}

.int_customers {
    background-color: #E6F9F1;
    padding: 65px;
    margin: 0px;
    border-radius: 30px;
    text-align: center;
    color: #4CD4AB;

    font-weight: 700;
}

.int_customers h3 {
    font-size: 48px;

}

.int_customers span {
    font-size: 24px;
    font-weight: 400;
}

.direct_contact {
    background-color: #F2F2FF;
    color: #878CFF;
}


.agent_last {
    background-color: #F4F8FE;
    color: #81B3FF;
}


/* media query */

/* mobile device */

@media only screen and (max-width: 320px) {


    /* .agent_parent {
        padding: 0;
    }

    .agent {
        margin: 23px 12px !important;
        padding: 10px 0px !important;
    }

    .int_customers {
        padding: 10px !important;
        margin: 0px 2px !important;
    } */



    .card-section {
        margin-bottom: 100px;
    }

    .hr_tag {
        justify-content: center;
    }

    .hr_tag hr {
        margin-top: 32px;
    }

    /* .ceo-section {
        margin: 100px 0px;
    } */

    .ceo-section {
        /* margin: 140px 0px; */
        padding-top: 0px;
        padding-bottom: 0px;
    }
}




@media only screen and (max-width: 520px) {

    .ceo-section {
        /* margin: 140px 0px; */
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .card-section {
        margin-bottom: 100px;
    }

    .hr_tag {
        justify-content: center;
    }

    .hr_tag hr {
        margin-top: 31px;
    }

    .service-section {
        margin-bottom: 100px !important;
    }

    /* .ceo-section {
        margin: 100px 0px;
    } */

    .offer-content h1 {
        font-size: 22px;
    }

    .img-size {
        width: 275px;
        margin: 0 auto;
    }

    .offering-content h5 {
        font-size: 20px;
    }

    .offering-content p {
        font-size: 15px;
    }


    .agent_parent {
        margin-left: 0;
    }

    .agent {
        margin: 20px 0px !important;
        padding: 10px 0px !important;
    }


    .agent h3 {
        font-size: 20px;
    }

    .agent span {
        font-size: 15px;
        font-weight: 400;
    }

    .int_customers {
        background-color: #E6F9F1;
        padding: 10px !important;
        margin: 0px 0px !important;
        border-radius: 30px;
        text-align: center;
        color: #4CD4AB;
        font-weight: 700;
    }

    .int_customers h3 {
        font-size: 20px;

    }

    .int_customers span {
        font-size: 15px;
        font-weight: 400;
    }

    .internation-content span {

        font-size: 20px;
        text-align: center;
        display: block;
        padding: 20px 0px;
    }

    .internation-content h1 {
        font-size: 22px;
        text-align: center;
    }

    .internation-content p {
        text-align: justify;
        margin-bottom: 0;
        padding: 20px 3px;
        font-size: 15px;
    }

    .explore-btn {
        text-align: center;
        padding: 35px 0px;
    }

    .service-btn {
        text-align: center;
        padding-top: 35px;
    }

    .ceo-content h1 {
        font-size: 22px;
        text-align: center;
        padding: 28px 0px;

    }

    .ceo-content p {
        text-align: justify;
        font-size: 15px;
    }

    .row-round {
        margin-top: 20px;
    }
}



/* tab device media query */







@media only screen and (min-width: 519px) and (max-width: 844px) {
    .offer-content h1 {
        font-size: 30px;
    }

    .internation-content h1 {
        font-size: 30px;
        padding: 20px 0px;
    }

    .agent_parent {
        margin-left: 0px;
    }

    .row-round {
        margin-top: 20px;
    }

    .agent {
        font-size: 20px;
        margin: 41px 17px;
        padding: 31px 0px;
    }

    .int_customers {
        background-color: #E6F9F1;
        padding: 53px;
        margin: 0px;
        border-radius: 30px;
        text-align: center;
        color: #4CD4AB;

        font-weight: 700;
    }

    .explore-btn button {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width:1024px) {
    .agent {
        font-size: 20px;
        font-weight: 700;
        margin: 35px 5px;
        padding: 36px 0px;
    }

    .int_customers {
        margin: 0px;
    }

    .int_customers h3 {
        font-size: 25px;
    }

    .int_customers span {
        font-size: 20px;
    }

    .agent h3 {
        font-size: 25px;
    }

    .agent span {
        font-size: 20px;
    }
}


@media only screen and (max-width:768px) {
    .agent {
        margin: 20px 23px;
        padding: 20px 0px;
    }

    .agent h3 {
        font-size: 13px;
    }

    .agent span {
        font-size: 12px;
    }

    .int_customers {

        padding: 39px;
        margin: 0px;
    }

    .int_customers h3 {
        font-size: 20px;
    }

    .int_customers span {
        font-size: 15px;
    }
}